
# Este arquivo eh a base para se conectar ao banco de dados

db.driver=org.postgresql.Driver
db.url=jdbc:postgresql://
db.host=localhost
db.port=5432
db.schema=db_web2
db.user=postgres
db.password=postgres
